<% content_for :menu do %>
    <div class="work_btn">
    <a href="news_admin">お知らせ</a>
    </div>
<% end %>
<% content_for :title do %>
    出勤状況
<% end %>
<div class="work">
    <div class="work__inner">
    <ul class="news-list">
<li class="item">
<span class="label">
    <p class="date">名前</p>
    <p class="title">勤怠状況</p>
    <p class="title">日時</p>
</span>
</li>
<% @works.each do |work| %>
<li class="item">
<a href="/home_admin_work_detail?id=<%= work.user_id%>" class="label">
<% user=User.find_by(id:work.user_id) %>
    <p class="date"><%= user.name %></p>
    <p class="title"><%= work.work_start=="1" ? "出勤" : "退勤" %></p>
    <p class="title"><%= work.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
</a>
</li>
<% end %>
<div><%= paginate @works %></div>
</ul>
    </div>
</div>